apex==0.9.10dev
deepspeed
# flash_attn
fvcore
librosa
opencv_python
Pillow
psutil
PyYAML
# scipy==1.13.0
soundfile
termcolor
wandb
packaging
ninja
peft
# timm==0.5.4
# torch==1.13.1+cu117
# torchaudio==0.13.1+cu117
# torchvision==0.14.1+cu117
# tqdm==4.66.1
# transformers==4.28.1
# wandb==0.16.1