Pillow==9.3.0
decord==0.6.0
gradio==4.31.5
ninja==1.11.1.1
omegaconf==2.3.0
openai==1.14.2
pathos==0.3.2
prettytable==3.10.0
protobuf==3.20.3
pycocoevalcap==1.2
pycocotools==2.0.8
requests==2.31.0
safetensors==0.4.2
scikit-learn==1.4.1.post1
scipy==1.13.0
tiktoken==0.6.0
transformers==4.47.0
triton==2.2.0
func_timeout==4.3.5

